"modsets.rules.misc": "其他"
"modsets.rules.misc.debug": "调试"
"modsets.rules.experimential": "实验性"
"modsets.distanthorizons": "Distant Horizons"
"modsets.distanthorizons.description": "在Minecraft的默认视距之外添加简化过的地形，用以提升性能，以及允许实现更远的绘制距离。"